#Preparación y Limpieza de Datos
El objetivo de esta sección es documentar de manera detallada el proceso de preparación y limpieza de los datos del proyecto. Un conjunto de datos íntegro y consistente es fundamental para garantizar la fiabilidad del análisis posterior, especialmente antes de la fase de modelado y visualización en Power BI.

Este proceso se centró en abordar los desafíos más comunes en el preprocesamiento de datos: la gestión de valores faltantes, la estandarización de los nombres de las columnas, la identificación de registros duplicados y la revisión de valores atípicos, aunque la estrategia para estos últimos se definirá en una etapa de análisis más profunda.

##1. Carga y Análisis Preliminar del Dataset
El primer paso consistió en cargar el conjunto de datos marketing_campaign.csv, que se encuentra en un formato delimitado por punto y coma (;). Tras la carga, se realizó un análisis preliminar para entender la estructura de los datos, incluyendo su dimensionalidad (número de filas y columnas) y una inspección de las primeras filas.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
df = pd.read_csv('/content/data/marketing_campaign.csv', sep=';')

#2. Análisis Preliminar

In [ ]:
#analisis previo de los datos
print(df.shape)
df.head()

(2240, 29)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
#analisamos tambien las variables categoricas y numericas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

La revisión de la información del DataFrame (df.info()) reveló la presencia de valores nulos. Específicamente, se identificó que la columna de Income (Ingresos) era la única con datos faltantes. Tras una evaluación, se determinó que la cantidad de registros incompletos era insignificante en comparación con el tamaño total del dataset.

Para preservar la integridad de los datos y evitar sesgos potenciales que podrían surgir de la imputación de valores, la estrategia adoptada fue la eliminación de las filas que contenían valores nulos en la columna Income. Este proceso se documenta a continuación, creando un nuevo DataFrame (df_cleaned) para mantener el conjunto de datos original intacto.

In [ ]:
# Eliminar filas donde 'Ingresos' es nulo
# Estamos creando un nuevo DataFrame 'df_cleaned' para almacenar el resultado, # de modo que el 'df' original permanezca sin cambios si es necesario.
df_cleaned = df.dropna(subset=['Income'])
# --- Fin del código para corregir los valores faltantes en 'Ingresos' ---

# --- Pasos de verificación (opcionales, pero recomendables) ---
print("Original DataFrame shape:", df.shape)
print("Shape after dropping rows with missing Income:", df_cleaned.shape)
print("Number of nulls in 'Income' column of cleaned DataFrame:", df_cleaned['Income'].isnull().sum())

Original DataFrame shape: (2240, 29)
Shape after dropping rows with missing Income: (2216, 29)
Number of nulls in 'Income' column of cleaned DataFrame: 0

##3. Estandarización de Nombres de Columnas
Para mejorar la legibilidad y facilitar el trabajo en Power BI, se renombraron todas las columnas del DataFrame de su nombre original en inglés a un formato en español claro y descriptivo. Este paso garantiza la consistencia del lenguaje a lo largo de todo el proyecto y mejora la comprensión del modelo de datos para futuros usuarios.

Se utilizó un diccionario para mapear los nombres de las columnas, lo que permite un proceso de renombrado eficiente y fácil de auditar.

In [ ]:
# Creamos un diccionario con el mapeo de nombres de columnas de inglés a español
column_name_mapping = {
    'ID': 'ID',
    'Year_Birth': 'Año_Nacimiento',
    'Education': 'Educacion',
    'Marital_Status': 'Estado_Civil',
    'Income': 'Ingresos',
    'Kidhome': 'Hijos_Casa',
    'Teenhome': 'Adolescentes_Casa',
    'Dt_Customer': 'Fecha_Registro_Cliente',
    'Recency': 'Dias_Desde_Ultima_Compra',
    'MntWines': 'Gasto_Vinos',
    'MntFruits': 'Gasto_Frutas',
    'MntMeatProducts': 'Gasto_Carne',
    'MntFishProducts': 'Gasto_Pescado',
    'MntSweetProducts': 'Gasto_Dulces',
    'MntGoldProds': 'Gasto_Oro',
    'NumDealsPurchases': 'Compras_Descuento',
    'NumWebPurchases': 'Compras_Web',
    'NumCatalogPurchases': 'Compras_Catalogo',
    'NumStorePurchases': 'Compras_Tienda',
    'NumWebVisitsMonth': 'Visitas_Web_Mes',
    'AcceptedCmp3': 'Acepto_Campaña3',
    'AcceptedCmp4': 'Acepto_Campaña4',
    'AcceptedCmp5': 'Acepto_Campaña5',
    'AcceptedCmp1': 'Acepto_Campaña1',
    'AcceptedCmp2': 'Acepto_Campaña2',
    'Complain': 'Queja',
    'Z_CostContact': 'Costo_Contacto_Z',
    'Z_Revenue': 'Ingresos_Z',
    'Response': 'Respuesta_Ultima_Campaña'
}

# Renombrar las columnas del DataFrame
# Si estás trabajando con el DataFrame limpio de nulos, usa df_cleaned
df_cleaned = df_cleaned.rename(columns=column_name_mapping)

# --- Fin del código para renombrar columnas en df_cleaned ---

##4. Verificación de la Estructura Final del Dataset
Para confirmar que los cambios se aplicaron correctamente, se realizó una nueva inspección del DataFrame limpio, verificando los nuevos nombres de las columnas y el tipo de dato de cada una. Esto asegura que el dataset está listo para ser exportado y utilizado en Power BI.

In [ ]:
# --- Verificación (opcional, pero buena práctica) ---
print("Nuevos nombres de columnas en df_cleaned:")
print(df_cleaned.columns)
print("\nInformación del DataFrame df_cleaned con nombres en español:")
df_cleaned.info()

Nuevos nombres de columnas en df_cleaned:
Index(['ID', 'Año_Nacimiento', 'Educacion', 'Estado_Civil', 'Ingresos',
       'Hijos_Casa', 'Adolescentes_Casa', 'Fecha_Registro_Cliente',
       'Dias_Desde_Ultima_Compra', 'Gasto_Vinos', 'Gasto_Frutas',
       'Gasto_Carne', 'Gasto_Pescado', 'Gasto_Dulces', 'Gasto_Oro',
       'Compras_Descuento', 'Compras_Web', 'Compras_Catalogo',
       'Compras_Tienda', 'Visitas_Web_Mes', 'Acepto_Campaña3',
       'Acepto_Campaña4', 'Acepto_Campaña5', 'Acepto_Campaña1',
       'Acepto_Campaña2', 'Queja', 'Costo_Contacto_Z', 'Ingresos_Z',
       'Respuesta_Ultima_Campaña'],
      dtype='object')

Información del DataFrame df_cleaned con nombres en español:
<class 'pandas.core.frame.DataFrame'>
Index: 2216 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2216 non-null   int64
 1   Año_Nacimiento            2216 non-null   int64
 2   Educacion                 2216 non-null   object
 3   Estado_Civil              2216 non-null   object
 4   Ingresos                  2216 non-null   float64
 5   Hijos_Casa                2216 non-null   int64
 6   Adolescentes_Casa         2216 non-null   int64
 7   Fecha_Registro_Cliente    2216 non-null   object
 8   Dias_Desde_Ultima_Compra  2216 non-null   int64
 9   Gasto_Vinos               2216 non-null   int64
 10  Gasto_Frutas              2216 non-null   int64
 11  Gasto_Carne               2216 non-null   int64
 12  Gasto_Pescado             2216 non-null   int64
 13  Gasto_Dulces              2216 non-null   int64
 14  Gasto_Oro                 2216 non-null   int64
 15  Compras_Descuento         2216 non-null   int64
 16  Compras_Web               2216 non-null   int64
 17  Compras_Catalogo          2216 non-null   int64
 18  Compras_Tienda            2216 non-null   int64
 19  Visitas_Web_Mes           2216 non-null   int64
 20  Acepto_Campaña3           2216 non-null   int64
 21  Acepto_Campaña4           2216 non-null   int64
 22  Acepto_Campaña5           2216 non-null   int64
 23  Acepto_Campaña1           2216 non-null   int64
 24  Acepto_Campaña2           2216 non-null   int64
 25  Queja                     2216 non-null   int64
 26  Costo_Contacto_Z          2216 non-null   int64
 27  Ingresos_Z                2216 non-null   int64
 28  Respuesta_Ultima_Campaña  2216 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 519.4+ KB

##5. Análisis de Nivel en Columnas Categóricas y Numéricas
Como paso final antes de concluir la fase de preparación, se realizó un conteo de los niveles únicos en las variables categóricas, así como una revisión de la cantidad de valores únicos en las columnas numéricas. Esto se hizo para identificar cualquier error tipográfico, inconsistencia o la presencia de columnas con un solo valor, las cuales no aportarían información al modelo. Los resultados de este análisis guiarán la creación de las tablas de dimensiones en Power BI.

In [ ]:
# Conteo de los niveles en las diferentes columnas categóricas
# Identificamos las columnas categóricas por su tipo 'object'
cols_cat = df_cleaned.select_dtypes(include='object').columns.tolist()

print("Conteo de subniveles en columnas categóricas:")
for col in cols_cat:
    print(f"Columna '{col}': {df_cleaned[col].nunique()} subniveles")

# --- Fin del código adaptado ---

Conteo de subniveles en columnas categóricas:
Columna 'Educacion': 5 subniveles
Columna 'Estado_Civil': 8 subniveles
Columna 'Fecha_Registro_Cliente': 662 subniveles

In [ ]:
# Identificamos las columnas categóricas por su tipo 'object'
cols_cat = df_cleaned.select_dtypes(include='object').columns.tolist()

print("--- Categorías actuales en las columnas) ---")
print("Prepara estos valores para crear un diccionario de traducción.")
print("-" * 70)

# Iterar sobre las columnas categóricas para mostrar sus valores únicos
for col in cols_cat:
    unique_values = df_cleaned[col].unique()
    print(f"Columna '{col}':")
    print(f"  Valores únicos: {unique_values}")
    print("-" * 30)


# --- Fin: Identificar y mostrar categorías ---

--- Categorías actuales en las columnas) ---
Prepara estos valores para crear un diccionario de traducción.
----------------------------------------------------------------------
Columna 'Educacion':
  Valores únicos: ['Graduation' 'PhD' 'Master' 'Basic' '2n Cycle']
------------------------------
Columna 'Estado_Civil':
  Valores únicos: ['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']
------------------------------
Columna 'Fecha_Registro_Cliente':
  Valores únicos: ['2012-09-04' '2014-03-08' '2013-08-21' '2014-02-10' '2014-01-19'
 '2013-09-09' '2012-11-13' '2013-05-08' '2013-06-06' '2014-03-13'
 '2013-11-15' '2012-10-10' '2012-11-24' '2012-12-24' '2012-08-31'
 '2013-03-28' '2012-11-03' '2012-08-08' '2013-01-06' '2012-12-23'
 '2014-01-11' '2013-03-18' '2013-01-02' '2013-05-27' '2013-05-31'
 '2013-11-22' '2014-05-22' '2013-05-11' '2012-10-29' '2013-02-20'
 '2013-08-29' '2013-12-31' '2013-09-02' '2014-02-11' '2013-02-01'
 '2013-04-29' '2013-03-12' '2013-10-02' '2014-06-28' '2012-11-09'
 '2013-05-24' '2012-11-08' '2014-05-12' '2012-08-11' '2014-06-07'
 '2013-06-12' '2012-11-19' '2013-04-02' '2014-04-28' '2014-03-03'
 '2013-07-04' '2012-09-07' '2013-02-18' '2013-06-11' '2013-12-06'
 '2013-05-21' '2014-05-11' '2014-03-19' '2013-09-27' '2013-04-08'
 '2012-09-11' '2013-03-17' '2013-04-05' '2014-04-30' '2012-12-19'
 '2012-08-27' '2012-10-12' '2013-09-04' '2012-08-29' '2013-06-23'
 '2013-07-03' '2014-02-25' '2013-08-11' '2013-07-16' '2014-05-28'
 '2014-01-21' '2014-03-23' '2014-05-24' '2012-11-22' '2013-04-11'
 '2013-12-01' '2013-06-20' '2013-07-23' '2014-03-30' '2013-04-20'
 '2013-05-17' '2014-05-08' '2013-12-10' '2013-09-24' '2013-02-02'
 '2012-12-07' '2013-11-02' '2012-11-10' '2014-06-25' '2012-12-12'
 '2013-09-10' '2014-01-24' '2013-02-19' '2013-07-11' '2013-11-14'
 '2014-02-24' '2013-04-22' '2013-04-21' '2014-06-08' '2014-05-10'
 '2013-09-30' '2013-03-10' '2013-08-14' '2013-07-07' '2014-05-19'
 '2013-07-28' '2012-10-19' '2013-04-19' '2013-08-28' '2013-03-19'
 '2012-10-18' '2012-10-28' '2012-08-22' '2014-06-21' '2014-04-24'
 '2014-03-07' '2012-12-14' '2012-10-09' '2013-07-08' '2013-09-12'
 '2013-10-17' '2013-08-20' '2013-07-01' '2012-11-05' '2014-01-05'
 '2013-05-01' '2014-03-01' '2013-11-13' '2013-11-18' '2014-04-21'
 '2013-07-13' '2014-01-30' '2014-04-04' '2012-09-12' '2012-12-16'
 '2014-05-23' '2014-06-24' '2013-09-28' '2014-01-22' '2014-06-15'
 '2012-12-05' '2013-08-02' '2013-02-23' '2012-09-09' '2013-09-26'
 '2013-05-30' '2013-12-29' '2014-05-13' '2013-09-19' '2013-01-17'
 '2014-03-31' '2014-06-29' '2013-12-09' '2013-10-14' '2012-11-02'
 '2013-07-17' '2013-12-08' '2013-05-13' '2012-09-10' '2013-03-31'
 '2014-03-18' '2012-10-05' '2013-01-21' '2013-05-04' '2014-04-01'
 '2013-08-31' '2012-11-14' '2014-04-11' '2014-04-14' '2013-01-05'
 '2012-09-08' '2013-03-26' '2012-10-25' '2012-12-09' '2014-02-16'
 '2013-03-20' '2013-05-15' '2014-04-16' '2013-03-23' '2013-12-04'
 '2013-10-04' '2013-12-26' '2014-05-17' '2013-10-28' '2013-07-31'
 '2013-11-28' '2012-08-17' '2014-06-05' '2013-05-20' '2013-01-09'
 '2013-09-16' '2013-10-27' '2012-09-22' '2012-10-13' '2012-10-16'
 '2012-10-22' '2013-06-04' '2013-05-22' '2014-06-17' '2012-11-23'
 '2013-02-03' '2013-03-14' '2014-06-26' '2012-10-15' '2013-06-19'
 '2014-03-20' '2014-02-04' '2014-04-06' '2013-02-06' '2013-02-11'
 '2014-04-17' '2013-07-12' '2013-01-29' '2013-01-08' '2013-06-13'
 '2013-12-27' '2012-10-31' '2014-01-15' '2012-08-23' '2013-03-07'
 '2013-01-13' '2013-01-12' '2014-03-17' '2013-10-12' '2014-04-13'
 '2012-09-18' '2014-03-05' '2013-04-27' '2014-01-18' '2013-12-17'
 '2014-03-11' '2013-07-29' '2012-08-14' '2014-02-09' '2013-02-07'
 '2013-01-11' '2013-07-05' '2013-07-02' '2013-11-07' '2013-05-09'
 '2013-02-13' '2013-04-16' '2013-09-11' '2013-04-03' '2013-01-10'
 '2013-06-30' '2012-12-06' '2012-11-12' '2013-03-03' '2012-08-10'
 '2013-12-07' '2013-08-15' '2013-11-10' '2014-06-16' '2012-12-25'
 '2014-01-03' '2012-10-27' '2012-12-22' '2013-11-29' '2013-10-08'
 '2012-09-28' '2014-03-22' '2012-12-28' '2012-08-21' '2013-03-16'
 '2012-11-17' '2012-12-01' '2014-04-22' '2012-11-11' '2013-06-22'
 '2012-08-18' '2012-12-30' '2013-06-14' '2013-10-16' '2012-08-30'
 '2014-05-04' '2013-04-18' '2013-10-06' '2012-09-15' '2012-09-27'
 '2013-03-11' '2013-10-22' '2014-06-09' '2014-05-30' '2012-10-17'
 '2013-03-30' '2013-01-23' '2013-11-20' '2014-02-14' '2013-02-22'
 '2013-03-05' '2014-05-06' '2013-04-13' '2014-04-05' '2013-04-25'
 '2013-11-25' '2014-02-02' '2013-06-21' '2013-12-21' '2013-09-07'
 '2013-08-22' '2013-12-20' '2013-08-06' '2013-10-09' '2013-06-09'
 '2013-12-22' '2013-05-02' '2013-02-16' '2012-08-20' '2013-04-01'
 '2014-05-25' '2012-09-25' '2014-01-01' '2013-09-22' '2014-01-28'
 '2013-04-23' '2014-03-06' '2012-08-15' '2013-03-27' '2013-10-10'
 '2012-08-04' '2014-05-18' '2014-05-09' '2012-10-23' '2013-12-30'
 '2012-08-19' '2013-10-30' '2012-09-14' '2013-06-26' '2014-01-26'
 '2012-09-24' '2012-12-03' '2013-11-27' '2012-08-06' '2012-12-29'
 '2012-08-24' '2012-11-07' '2013-12-02' '2013-07-19' '2013-05-25'
 '2013-10-20' '2013-04-14' '2013-08-23' '2014-01-27' '2013-08-16'
 '2012-09-30' '2012-12-04' '2012-08-12' '2013-11-03' '2013-02-15'
 '2013-09-18' '2014-06-18' '2013-04-24' '2013-06-17' '2014-02-15'
 '2013-08-08' '2013-12-23' '2012-11-28' '2013-08-07' '2014-01-07'
 '2013-12-03' '2014-03-29' '2014-04-08' '2014-02-07' '2013-11-06'
 '2013-03-01' '2013-08-03' '2013-06-16' '2013-06-25' '2013-11-05'
 '2013-09-13' '2013-08-01' '2013-01-31' '2013-07-09' '2013-04-15'
 '2014-04-03' '2014-04-18' '2012-09-23' '2013-09-14' '2012-10-26'
 '2013-10-19' '2013-02-21' '2013-09-17' '2013-01-26' '2014-05-07'
 '2013-08-19' '2013-07-18' '2012-12-11' '2013-07-26' '2013-05-06'
 '2013-06-03' '2013-07-14' '2014-03-10' '2013-12-28' '2013-01-20'
 '2012-09-21' '2012-09-06' '2012-12-18' '2013-11-19' '2014-06-13'
 '2013-05-07' '2013-08-18' '2013-12-13' '2014-02-17' '2012-08-03'
 '2014-01-04' '2013-10-21' '2013-12-25' '2013-01-01' '2013-05-16'
 '2013-09-25' '2013-11-08' '2013-12-16' '2012-10-30' '2014-01-02'
 '2013-10-18' '2013-07-25' '2013-10-24' '2013-12-19' '2014-05-16'
 '2012-10-04' '2013-08-25' '2013-05-29' '2014-03-26' '2014-04-09'
 '2014-03-12' '2014-04-29' '2014-06-27' '2013-04-10' '2013-11-21'
 '2012-10-21' '2013-05-14' '2012-08-01' '2013-11-23' '2014-01-25'
 '2013-10-11' '2012-08-07' '2013-03-29' '2014-06-03' '2012-08-09'
 '2013-03-06' '2013-05-12' '2014-03-09' '2013-09-15' '2014-01-29'
 '2013-10-03' '2013-02-28' '2014-05-02' '2013-02-09' '2013-03-15'
 '2013-05-10' '2012-09-05' '2013-09-01' '2013-05-26' '2013-12-12'
 '2012-12-08' '2013-08-30' '2013-12-18' '2013-06-18' '2014-05-29'
 '2013-01-15' '2013-10-29' '2013-03-02' '2013-12-14' '2013-01-19'
 '2013-04-06' '2013-11-04' '2013-03-22' '2014-05-31' '2013-02-04'
 '2013-05-05' '2013-02-14' '2014-03-21' '2013-08-05' '2012-11-29'
 '2013-07-27' '2014-01-13' '2012-09-29' '2013-10-23' '2012-11-06'
 '2014-05-26' '2014-03-04' '2014-01-06' '2014-06-11' '2014-06-19'
 '2012-11-26' '2013-12-11' '2014-01-14' '2014-01-23' '2013-03-24'
 '2013-06-29' '2013-01-25' '2013-11-17' '2013-05-18' '2013-04-17'
 '2013-01-24' '2013-08-09' '2013-06-10' '2013-07-20' '2013-05-28'
 '2013-03-04' '2012-10-01' '2013-02-10' '2012-10-14' '2014-02-03'
 '2014-06-22' '2013-10-25' '2014-02-18' '2013-11-09' '2013-08-13'
 '2012-08-25' '2014-04-19' '2014-04-07' '2013-01-03' '2012-11-04'
 '2013-01-22' '2014-02-26' '2014-04-23' '2013-07-30' '2013-10-13'
 '2012-11-27' '2014-05-01' '2012-11-30' '2013-08-17' '2013-01-04'
 '2014-05-03' '2014-04-26' '2014-06-02' '2013-10-26' '2014-03-24'
 '2013-02-25' '2013-09-20' '2013-01-16' '2013-12-24' '2012-11-18'
 '2012-08-05' '2013-05-03' '2013-11-12' '2013-07-06' '2013-07-21'
 '2012-10-20' '2013-05-23' '2012-08-26' '2014-01-12' '2014-02-13'
 '2014-02-27' '2014-04-20' '2013-06-28' '2013-04-28' '2013-03-21'
 '2013-08-27' '2012-07-30' '2013-12-05' '2013-02-08' '2012-11-21'
 '2013-02-26' '2012-09-20' '2013-06-08' '2013-09-05' '2014-04-12'
 '2013-06-24' '2014-02-19' '2012-12-27' '2012-11-01' '2013-07-22'
 '2014-01-31' '2013-08-26' '2013-10-01' '2014-06-10' '2014-02-01'
 '2012-09-03' '2012-09-26' '2012-07-31' '2012-12-02' '2014-05-05'
 '2012-10-06' '2014-03-02' '2014-05-15' '2012-12-10' '2012-08-13'
 '2014-02-23' '2014-03-16' '2013-09-21' '2012-10-24' '2013-10-15'
 '2013-02-17' '2012-08-28' '2014-02-12' '2014-02-08' '2012-09-01'
 '2012-11-16' '2013-02-12' '2012-08-02' '2012-08-16' '2012-11-25'
 '2014-04-27' '2013-04-30' '2012-11-20' '2014-06-14' '2014-03-28'
 '2013-03-08' '2012-09-02' '2014-04-15' '2014-04-25' '2013-06-27'
 '2013-06-01' '2013-10-05' '2014-02-22' '2013-04-12' '2013-09-23'
 '2013-07-24' '2014-06-23' '2014-01-10' '2013-03-25' '2014-01-17'
 '2014-06-04' '2014-03-25' '2012-12-31' '2012-09-19' '2013-02-27'
 '2012-10-02' '2013-04-09' '2014-04-02' '2013-01-07' '2013-11-26'
 '2013-08-04' '2012-12-17' '2014-06-06' '2013-05-19' '2013-08-12'
 '2013-12-15' '2012-10-07' '2013-09-06' '2013-07-15' '2013-01-27'
 '2014-02-05' '2012-12-26' '2014-02-06' '2013-01-14' '2014-06-20'
 '2013-08-24' '2014-02-28' '2013-04-07' '2014-04-10' '2014-06-12'
 '2013-11-30' '2013-03-09' '2014-03-27' '2012-12-15' '2012-09-17'
 '2013-06-02' '2012-12-21' '2013-11-01' '2013-08-10' '2012-10-11'
 '2012-12-20' '2014-01-09']
------------------------------

--- PASO SIGUIENTE: Crear diccionarios de mapeo para la traducción y aplicarlos ---

##6. Estandarización de Categorías y Creación de la Columna de Edad
Un paso crucial para la segmentación de clientes es estandarizar los valores en las variables categóricas para corregir inconsistencias y simplificar su uso en el análisis. El análisis preliminar de las variables de Educacion y Estado_Civil reveló varias categorías. Para simplificar el análisis y agrupar los datos de forma más efectiva, se crearon diccionarios de mapeo para estandarizar estas categorías.

Asimismo, se creó una nueva columna, Edad, a partir de la columna Año_Nacimiento. Esta variable es fundamental para cualquier análisis demográfico.

In [ ]:
# --analizar categorias de estado civil 'Absurd' y 'YOLO' ---

# Contar cuántas veces aparece 'Absurd'
count_absurd = df_cleaned[df_cleaned['Estado_Civil'] == 'Absurd'].shape[0]
print(f"Número de registros con 'Estado_Civil' = 'Absurd': {count_absurd}")

# Contar cuántas veces aparece 'YOLO'
count_yolo = df_cleaned[df_cleaned['Estado_Civil'] == 'YOLO'].shape[0]
print(f"Número de registros con 'Estado_Civil' = 'YOLO': {count_yolo}")

# También puedes ver el value_counts() completo para tener una visión general
print("\nConteo completo de categorías en 'Estado_Civil':")
print(df_cleaned['Estado_Civil'].value_counts())

Número de registros con 'Estado_Civil' = 'Absurd': 2
Número de registros con 'Estado_Civil' = 'YOLO': 2

Conteo completo de categorías en 'Estado_Civil':
Estado_Civil
Married     857
Together    573
Single      471
Divorced    232
Widow        76
Alone         3
Absurd        2
YOLO          2
Name: count, dtype: int64

In [ ]:
# ---CÓDIGO PARA UNIFICAR Y TRADUCIR CATEGORÍAS ---

# Diccionario de mapeo para 'Educacion'
education_mapping = {
    'Graduation': 'Licenciatura',
    'PhD': 'Doctorado',
    'Master': 'Maestria',
    '2n Cycle': 'Educacion_Tecnica', # Asumiendo un nivel intermedio/técnico
    'Basic': 'Educacion_Basica'
}

# Diccionario de mapeo para 'Estado_Civil' incluyendo unificación
marital_status_mapping = {
    'Single': 'Soltero',
    'Alone': 'Soltero',       # Unificación: 'Alone' a 'Soltero'
    'Absurd': 'Soltero',      # Unificación: 'Absurd' a 'Soltero'
    'YOLO': 'Soltero',        # Unificación: 'YOLO' a 'Soltero'
    'Together': 'En_Pareja',
    'Married': 'Casado',
    'Divorced': 'Divorciado',
    'Widow': 'Viudo'
}

# Aplicar los mapeos a las columnas respectivas en df_cleaned
df_cleaned['Educacion'] = df_cleaned['Educacion'].replace(education_mapping)
df_cleaned['Estado_Civil'] = df_cleaned['Estado_Civil'].replace(marital_status_mapping)

# --- FIN DEL CÓDIGO PARA UNIFICAR Y TRADUCIR CATEGORÍAS ---

In [ ]:
# --- Verificación de los cambios ---
print("\n--- Categorías en 'Educacion' después de traducir y unificar ---")
print(df_cleaned['Educacion'].unique())
print("\nConteo de categorías en 'Educacion' después de traducir y unificar:")
print(df_cleaned['Educacion'].value_counts())


print("\n--- Categorías en 'Estado_Civil' después de traducir y unificar ---")
print(df_cleaned['Estado_Civil'].unique())
print("\nConteo de categorías en 'Estado_Civil' después de traducir y unificar:")
print(df_cleaned['Estado_Civil'].value_counts())

--- Categorías en 'Educacion' después de traducir y unificar ---
['Licenciatura' 'Doctorado' 'Maestria' 'Educacion_Basica'
 'Educacion_Tecnica']

Conteo de categorías en 'Educacion' después de traducir y unificar:
Educacion
Licenciatura         1116
Doctorado             481
Maestria              365
Educacion_Tecnica     200
Educacion_Basica       54
Name: count, dtype: int64

--- Categorías en 'Estado_Civil' después de traducir y unificar ---
['Soltero' 'En_Pareja' 'Casado' 'Divorciado' 'Viudo']

Conteo de categorías en 'Estado_Civil' después de traducir y unificar:
Estado_Civil
Casado        857
En_Pareja     573
Soltero       478
Divorciado    232
Viudo          76
Name: count, dtype: int64

#7. Conclusión y Exportación del Conjunto de Datos Limpio
Una vez completadas todas las etapas de limpieza (manejo de nulos, estandarización de nombres y categorías, y creación de nuevas variables relevantes como Edad), el conjunto de datos está listo para el análisis y el modelado.

El paso final es exportar este DataFrame limpio a un archivo CSV, que será el insumo principal para la fase de construcción del modelo de datos en Power BI. Se ha especificado un nombre de archivo claro y se ha omitido la escritura del índice del DataFrame para asegurar que el archivo de salida sea lo más limpio y utilizable posible.

In [ ]:
 ## INICIO DEL CÓDIGO PARA EXPORTAR A CSV ---

# Define el nombre del archivo CSV de salida
output_csv_filename = 'marketing_campaign_cleaned_for_pb.csv'

# Exportar el DataFrame a un archivo CSV
# 'index=False' es muy importante para evitar que pandas escriba el índice del DataFrame como una columna en el CSV.
# 'encoding='utf-8'' es recomendado para asegurar que los caracteres especiales (como 'ñ', tildes) se guarden correctamente.
df_cleaned.to_csv(output_csv_filename, index=False, encoding='utf-8')

print(f"DataFrame exportado exitosamente a '{output_csv_filename}'")
print(f"Puedes descargar este archivo desde Google Colab para usarlo en Power BI.")


# --- FIN DEL CÓDIGO PARA EXPORTAR A CSV ---

DataFrame exportado exitosamente a 'marketing_campaign_cleaned_for_pb.csv'
Puedes descargar este archivo desde Google Colab para usarlo en Power BI.